@import 'bootstrap';
@import 'font-awesome';
@import 'style_utils';
@import 'js_utils.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

$color_primario: #38C12D;


main {
   padding-top: 10vh;
}

/* Inicio */


#inicio-categorias {

   .categoria {
      text-align: center;
      .circle {
         background-color: $color_primario;

         // height: 100px;
         // width: 100px;
         border-radius: 50%;
         box-shadow: 5px 5px 5px #DDD;

         margin-left: auto;
         margin-right: auto;
      }
   }
}





/* Utilidades */

.cortina-clara {
   @extend .wh-100;
   @extend .absUpL;
   z-index: 1;
   background-color: rgba(255,255,255,0.5);
}


.txshw {
   text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.icono {
   -o-transition: -o-transform 0.3s ease-in-out;
   -moz-transition: -moz-transform 0.3s ease-in-out;
   -webkit-transition: -webkit-transform 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;

   &:hover {
      -o-transform: scale( 1.02 );
      -moz-transform: scale( 1.02 );
      -webkit-transform: scale( 1.02 );
      transform: scale( 1.02 );
   }
}


.tarjeta {
   @extend .icono;
   @extend .txshw,
}

/* Animaciones */



#cargando .imagen {

   &.imagen-girando {
      webkit-animation-name: spin;

      -webkit-animation-duration: 5000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-name: spin;
      -moz-animation-duration: 5000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-name: spin;
      -ms-animation-duration: 5000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: ease-in-out;

      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

   }
}


#portada-logotipo {
   .imagen {
      webkit-animation-name: spin;

      -webkit-animation-duration: 30000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-name: spin;
      -moz-animation-duration: 30000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-name: spin;
      -ms-animation-duration: 30000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: ease-in-out;

      animation-name: spin;
      animation-duration: 30000ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

   }
}

@-moz-keyframes spin {
   from { -moz-transform: rotate(0deg); }
   to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
   from {transform:rotate(0deg);}
   to {transform:rotate(360deg);}
}


$color_concepto_1: #ddeeff;
$color_concepto_2: #daeeff;
$color_concepto_3: #ddaeff;
$color_concepto_4: #ddeeaf;
$color_concepto_5: #daeafa;
$color_concepto_6: #daeafa;

.concepto-color-1 {
   color: $color_concepto_1;
}
.concepto-color-2 {
   color: $color_concepto_2;
}
.concepto-color-3 {
   color: $color_concepto_3;
}
.concepto-color-4 {
   color: $color_concepto_4;
}
.concepto-color-5 {
   color: $color_concepto_5;
}
.concepto-color-6 {
   color: $color_concepto_6;
}



.navbar-brand {
   padding: 0;
   box-sizing: border-box;
}


/* TIPOGRAFÍAS */

.font-1 {
   font-family: 'Lato', sans-serif;
}
.font-2 {
   font-family: 'Montserrat', sans-serif;
}


* {
   @extend .font-1;
}

h1,h2,h3,h4,h5,h6 {
   @extend .font-1;
}






/* HEXGRID */



.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #38c12d;
  margin: 0 0 86.60px 0;
  float: left;

}

.hexagon .pre,
.hexagon .post {

  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid #fff;
  border-right: 150px solid #fff;
}

.hexagon .contents{
  top: 0;
   left: 0;
   width: 100%;
   position: absolute;
}

.hexagon .middle {

  height: 173.20px;
}

.hexagon .pre {
  bottom: 100%;
  border-bottom: 86.60px solid #fff;
}

.hexagon .post {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #fff;
}

.hexagon-row {
   clear: left;
}

.hexagon-row {
   margin-left: 150px;
   margin-bottom: 100px;
}

.hexagon-row.even {
   margin-left: 0;
}

.hex-grid * {
   position: relative;;

}



.lh1 {
line-height: 1;
}





.bxsh {
   box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
